<!DOCTYPE html>

<html>
  <head>
    <title>Bacchus Wine</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="static/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
	  <div>test</div>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Panel (Banner) -->
        <section class="panel banner right">
          <div class="content color0 span-3-75">
            <h1 class="major">
              Bacchus <br />
              Savor Every Moment
            </h1>
            <p style="font-size: 20px; font-weight: 400;">
              Inspired by the Greco-Roman deity of wine and festivity, Bacchus
              is more than just a wine but a
              <strong>portal to a life yet to be lived.</strong> <br />
              <br>
              As the legend prefaces, those who partake of the mysteries of
              Bacchus are believed to become possessed and empowered by the god
              himself. <br />
              <h2>Are you ready to taste divinity?</h2>
            </p>
            <ul class="actions">
              <li>
                <a
                  href="#first"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered span-1-75" data-position="25% 25%">
            <img src="static/images/bacchus-profile.jpg" alt="" />
          </div>
        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight medium right" id="first">
          <div class="content span-7">
            <h2 class="major">
              Brand Message
            </h2>
            <p style="font-size: 20; font-weight: 500;">
              Bacchus is a delicious wine beverage that allows you to enjoy the drink of the gods.
              It’s a refreshing addition to your busy life. <br> Chill out and have a drink!<br>
              <br>
              Out with friends and want something refreshing to enhance the mood? Bacchus in a can is here to save the day! <br>
              <br>
              Hosting a dinner party? Pour some Bacchus from a bottle to your guests’ and impress them! <br>
             <br> Taste divinity whether you are at a party or just enjoying an evening with your close ones.
            </p>
          </div>
          <div class="image filtered tinted" data-position="top left">
            <img src="https://source.unsplash.com/CPbANT3CX0A" alt="" />
          </div>
        </section>
        <!-- h-->
        <!-- Panel -->
        <section class="panel color1">
          <div class="intro joined">
            <h2 class="major">Background<br /></h2>
            <p style="font-size: 20px; font-weight: 400;">
              Bacchus is an irresistible, delicately sweet wine from <strong>Moravia, Czech Republic.</strong><br>
              <br>
              Bacchus seamlessly combines a long-held grape growing tradition with the flair of modern winemaking techniques and style. 
              <br>
              <br>
              The result is a wine of enticing character that perfectly meets the surging demand for sweet wines.
            </p>
          </div>
          <div class="inner">
            <ul class="grid-icons three connected">
              <li>
                <span class="icon fa-laugh-wink"
                  ><span class="label">Lorem</span></span
                >
              </li>
              <li>
                <span class="icon solid fa-comments"
                  ><span class="label">Ipsum</span></span
                >
              </li>
              <li>
                <span class="icon solid fa-wine-glass-alt"
                  ><span class="label">Dolor</span></span
                >
              </li>
              <li>
                <span class="icon solid fa-wine-bottle"
                  ><span class="label">Sit</span></span
                >
              </li>
              <li>
                <span class="icon solid fa-users"
                  ><span class="label">Amet</span></span
                >
              </li>
              <li>
                <span class="icon solid fa-icons"
                  ><span class="label">Nullam</span></span
                >
              </li>
            </ul>
          </div>
        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight large left">
          <div class="content span-5">
            <h2 class="major">What makes Bacchus unique?</h2>
            <h3>Vinification</h3>
            <p style="font-size: 20px; font-weight: 400;">
              Bacchus grapes are harvested in small boxes then crushed and destalked. After 8 hours of maceration on the skins to facilitate extraction of aromas, the must is fermented at controlled temperatures until it reaches an alcohol content of 5.5 % by vol. <br> The second fermentation is initiated following the Charmat method at a temperature of around 54°F, using yeasts selected on-site. 
              <br> Premium quality at a ridiculously low price. It's almost like the gods are favoring you! 😉 </p>
             
          </div>
          <div class="image filtered tinted" data-position="top right">
            <img src="https://source.unsplash.com/CQrM5BebSvE" alt="" />
          </div>
        </section>
        <!-- https://source.unsplash.com/CQrM5BebSvE pnigODapPek-->
        <!-- Panel -->
        <section class="panel">
          <div class="intro color2">
            <h2 class="major">18+</h2>

            <p style="font-weight:400; font: size 20px;">Bacchus is an alcoholic beverage.
            <br>
            🔞
            <br>
            It is illegal to sell alcohol to anyone under the age of 18.</p> 
          </div>
          <div class="gallery">
            <div class="group span-3">
              <a
                href="static/images/Customer-Profile.RM.jpg"
                class="image filtered span-3"
                data-position="bottom"
                ><img 
                  src="https://source.unsplash.com/n5jc0y2C7XA/1200x600"
                  alt=""
              /></a>
              <a
                href="static/images/selling-points.jpg"
                class="image filtered span-1-5"
                data-position="center"
                ><img
                  src="https://source.unsplash.com/7dpHzyA7rb8"
                  alt=""
              /></a>
              <a
                href="static/images/budget-chart.png"
                class="image filtered span-1-5"
                data-position="bottom"
                ><img
                  src="static/images/finance-budget.jpg "
                  alt=""
              /></a>
            </div>
            <a
              href="static/images/desc-final.png"
              class="image filtered span-2-5"
              data-position="top"
              ><img src="static/images/bacchus-divine.png" alt=""
            /></a>
			<!-- https://source.unsplash.com/IywM7AQTZcM -->
            <div class="group span-4-5">
              <a
                href="static/images/competitor.jpg"
                class="image filtered span-3"
                data-position="top" 
                ><img src="https://source.unsplash.com/CPMZguYURMw" alt=""
              /></a>
              <a
                href="static/images/wine-glasses.jpg"
                class="image filtered span-1-5"
                data-position="center"
                ><img src="https://source.unsplash.com/gncRYVL0hm4/1000x1100" alt=""
              /></a>
			  <!-- sNN1zPDooIg  jzmZeQyEgiU   3uJt73tr4hI-->
              <a
                href="static/images/bacchus_out.jpg"
                class="image filtered span-1-5"
                data-position="bottom"
                ><img
                  src="static/images/media-bacchus.png"
                  alt=""
              /></a>
              <!-- https://source.unsplash.com/gncRYVL0hm4/1000x1100 -->
              <!-- https://source.unsplash.com/sNN1zPDooIg -->
              <a
                href="static/images/moravia-bacchus.jpg"
                class="image filtered span-3"
                data-position="top"
                ><img src="static/images/moravia-bacchus.jpg" alt=""
              /></a>
            </div>
            <a
              href="static/images/bacchus-painting.jpg"
              class="image filtered span-2-5"
              data-position="right"
              ><img src="https://source.unsplash.com/D3AfFzf41po" alt=""
            /></a>
          </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt">
          <div class="intro color4">
            <h2 class="major">Contact</h2>
            <p style="font-size: 20px; font-weight: 400;">
              Share with us your most <strong><i>diwine</i></strong> moments in life. 
              <br>
              <br>
              Follow us on Instagram and Facebook and never miss our godlike promotions!
            </p>
          </div>
          <div class="inner columns divided">
            <div class="span-3-25">
              <form method="post" action="#">
                <div class="fields">
                  <div class="field half">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                  </div>
                  <div class="field half">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                  </div>
                  <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                  </div>
                </div>
                <ul class="actions">
                  <li>
                    <input
                      type="button"
                      value="Send Message"
                      class="button primary"
                    />
                  </li>
                </ul>
              </form>
            </div>
            <div class="span-1-5">
              <ul class="contact-icons color1">
                <li class="icon brands fa-facebook-f">
                  <a href="https://www.facebook.com/bacchuswinedrink/" target="_blank">Bacchus on Facebook</a>
                </li>
                <li class="icon brands fa-instagram">
                  <a href="https://www.instagram.com/bacchuswinedrink/" target="_blank">@bacchuswinedrink</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>

      <!-- Scripts -->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/browser.min.js"></script>
      <script src="static/assets/js/breakpoints.min.js"></script>
      <script src="static/assets/js/main.js"></script>
    </div>
  </body>
</html>
